<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mobile/layouts/layout}">


<th:block layout:fragment="script"></th:block>

<th:block layout:fragment="content">
  <div class="loading">
    <div class="loading-inner">
      <div class="bar-wrap">
        <div class="bar">

        </div>
        <div class="icon">
          <img src="img/icon/flight.svg">
        </div>
      </div>

      <div class="percent">000</div>
    </div>
  </div>

  <div class="header">
    <div class="logo">
      <img src="img/logo.svg">
    </div>

    <span class="navTxt"></span>
    <button class="hamburger-btn">
      <img src="img/icon/menu.svg">
    </button>

  </div>


<!--  <div class="symbol-wrap">-->
<!--    <div class="symbol-inner">-->

<!--      <div class="symbol">-->
<!--        <div class="logoImg">-->
<!--          <img src="./img/logo-back.svg">-->
<!--        </div>-->
<!--        <div class="top"></div>-->
<!--        <div class="left"></div>-->
<!--        <div class="right"></div>-->
<!--        <div class="bottom"></div>-->
<!--      </div>-->
<!--      &lt;!&ndash;<div class="bottomBox"></div>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->

  <div class="index">

<!--    <section class="section1 sky-section">-->
<!--      <div class="inner">-->
<!--        <div class="sky-text-wrap">-->
<!--          <div class="sky-text-inner">-->
<!--            <div class="first">-->
<!--              <div class="">-->
<!--                  <span class="text-1">-->
<!--                      Fly New-->
<!--                  </span>-->
<!--              </div>-->
<!--              <div class="">-->
<!--                <span class="text-2">경험하지 못한, 새로운 여정을 선사합니다.</span>-->
<!--              </div>-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->

<!--        <div class="video-wrap">-->
<!--          <video src="video/sky-1.mp4" muted autoplay playsinline loop></video>-->
<!--        </div>-->



<!--      </div>-->
<!--    </section>-->

<!--    <section class="section3 ">-->
<!--      <div class="inner">-->
<!--        <div class="container">-->
<!--          <span class="text">Fly</span>-->

<!--          <div class="sec1">-->
<!--            <div class="video-wrap">-->
<!--              <video src="video/sky-2.mp4" muted autoplay playsinline loop></video>-->
<!--            </div>-->
<!--            <div class="text-wrap">-->
<!--              <div class="first txt">-->
<!--                <div class="">-->
<!--                  <span>파라타항공은</span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="second txt">-->
<!--                <div class="">-->
<!--                  <span>고객중심의 서비스를</span>-->
<!--                </div>-->
<!--                <div class="">-->
<!--                  <span>디자인합니다.</span>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="third txt">-->
<!--                <div class="">-->
<!--                  <span>모든 여행이 단 한 번뿐인 특별한 경험임을 알기에</span>-->
<!--                </div>-->
<!--                <div class="">-->
<!--                  <span>고객이 진정으로 원하는 서비스를 </span>-->
<!--                </div>-->
<!--                <div class="">-->
<!--                  <span>고민하고 실현합니다.</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="sec2" >-->

<!--            <div class="img-wrap">-->
<!--              <img src="img/section3-bg.png">-->
<!--            </div>-->


<!--            <div class="text-wrap">-->
<!--              <div class="first txt">-->
<!--                <div class="">-->
<!--                  <span>파라타항공은</span>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="second txt">-->
<!--                <div class="">-->
<!--                  <span>합리적인 서비스를 제공합니다</span>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="third txt">-->
<!--                <div class="">-->
<!--                  <span>기존의 저비용항공사(LCC)-대형항공사(FSC)의</span>-->
<!--                </div>-->
<!--                <div class="">-->
<!--                  <span>이분법적 틀을 탈피하고 고객에게</span>-->
<!--                </div>-->
<!--                <div class="">-->
<!--                  <span>합리적이고 우수한 서비스를 제공합니다.</span>-->
<!--                </div>-->

<!--              </div>-->

<!--            </div>-->
<!--          </div>-->


<!--          <div class="text ani-wrap">-->
<!--            <div class="first ">-->
<!--              <span>N</span>-->
<!--              <span>e</span>-->
<!--              <span>w</span>-->
<!--            </div>-->
<!--            <div class="second">-->
<!--              <span>H</span>-->
<!--              <span>a</span>-->
<!--              <span>p</span>-->
<!--              <span>p</span>-->
<!--              <span>i</span>-->
<!--              <span>n</span>-->
<!--              <span>e</span>-->
<!--              <span>s</span>-->
<!--              <span>s</span>-->
<!--            </div>-->
<!--            <div class="third">-->
<!--              <span>T</span>-->
<!--              <span>o</span>-->
<!--              <span>g</span>-->
<!--              <span>e</span>-->
<!--              <span>t</span>-->
<!--              <span>h</span>-->
<!--              <span>e</span>-->
<!--              <span>r</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
    <div class="section31">
      <div class="inner">
        <div class="sec1">
          <div class="top-wrap">

            <div class="top-text">
              <div class="top-text-inner">
                <div class="title ">
                  <strong>파라타항공의</strong>
                </div>
                <div class="title-sub">
                  <span>합리적 프리미엄</span>
                </div>
              </div>
            </div>


            <div class="text-wrap">
              <div class="first">
                <div class="">
                  <span>서비스 종류에 집중하기보다</span>
                </div>
                <div class="">
                  <span>품질에 집중합니다.</span>
                </div>
              </div>
              <div class="third">
                <div class="">
                  <img src="./img/section3-1-1.png">
                </div>
              </div>

              <div class="second">
                <div class="">
                  <span>종류만 다양할 뿐 실속 없는 서비스, </span>
                </div>
                <div class="">
                  <span>불필요하지만 포함되어 있는 서비스.</span>
                </div>
                <div class="">
                  <span>파라타항공은 구색만 갖춘 서비스는 지양합니다.</span>
                </div>
                <br><br>
                <div class="">
                  <span>파라타항공은 합리적 프리미엄 서비스를 실현합니다.</span>
                </div>
              </div>

              <div class="fourth">
                <!--<div class="">
                  <span>새로운 세계를 향한 모험과 도전, 소중한 사람과</span>
                </div>
                <div class="">
                  <span>함께하는 시간, 성공의 염원을 담은 비즈니스.</span>
                </div>
                <div class="">
                  <span>이용 목적이 다양하듯, 상황과 취향에 따라 항공도</span>
                </div>
                <div class="">
                  <span>맞춤 서비스가 필요합니다.</span>
                </div>
                <br><br>
                <div class="">
                  <span>항공경험이 더이상 행복한 여행을 위해 불편함을</span>
                </div>
                <div class="">
                  <span>감내해야 하는 시간이 아닌 탑승하는 순간부터 고객에게 행복한 여행일 수 있도록 파라타항공은 고객이</span>
                </div>
                <div class="">
                  <span>꼭 필요로 하는 맞춤 서비스를 제공합니다</span>
                </div>-->
              </div>
              <div class="fifth">
                <div class="">
                  <img src="./img/section3-1-2.png">
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-wrap">
            <div class="first">
              <div class="">
                <span>진심을 다해 다가가겠습니다.</span>
              </div>
            </div>
            <div class="third">
              <div class="">
                <img src="./img/section3-1-3.png">
              </div>
            </div>
            <div class="second">
              <div class="">
                  <span>
                      파라타항공만의 따뜻하고
                  </span>
              </div>
              <div class="">
                  <span>
                      사려 깊은 친절함으로 고객과 함께합니다.
                  </span>
              </div>
            </div>

            <div class="fourth">
              <!--<div class="">
									<span>
										불편함이 없는 쾌적한 기내 환경.
									</span>
              </div>
              <div class="">
									<span>
										한 끼의 식사라도 고객이 진정으로
									</span>
              </div>
              <div class="">
									<span>
										맛있게 즐길 수 있는 음식.
									</span>
              </div>
              <div class="">
									<span>
										넉넉하게 사용할 수 있는 위탁수화물.
									</span>
              </div>
              <div class="">
									<span>
										진심을 다한 따뜻한 인사와 세심한 보살핌.
									</span>
              </div>
              <div class="">
									<span>
										파라타항공은 고객중심의 합리적이고
									</span>
              </div>
              <div class="">
									<span>
										우수한 서비스를 제공합니다.
									</span>
              </div>-->
            </div>
            <div class="fifth">
              <div class="">
                <img src="./img/section3-1-4.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="section4">
      <div class="inner">
        <div class="text-wrap first">
          <div class="text-progress">
            <div class="text-progress-bar"></div>
          </div>
          <div class="text-info">
            <strong>01. Essential</strong>
            <span>
              고객 관점에서 근본적 지점부터<br>혁신해 합리적인 가치 제공
            </span>
          </div>
        </div>

        <div class="text-wrap second">
          <div class="text-progress">
            <div class="text-progress-bar"></div>
          </div>
          <div class="text-info">
            <strong>02. Comfort</strong>
            <span>
								쾌적하고 깨끗한 항공경험을 디자인해<br>육체적, 심리적 편안함 제공
							</span>
          </div>
        </div>

        <div class="text-wrap third">
          <div class="text-progress">
            <div class="text-progress-bar"></div>
          </div>
          <div class="text-info">
            <strong>03. Authentic</strong>
            <span>진심어린 서비스로 여행의 설렘과 긍정적 가치 제공</span>
          </div>
        </div>



      </div>
    </section>
    <section class="section5">
      <div class="inner">
        <div class="title">
          <div class="first">
            <div class="">
              <span>PARATA AIR</span>
            </div>
          </div>
          <div class="second">
            <div class="">
              <span>파라타항공은 하늘의 색을 뜻하는<br>한국어 '파랗다' 처럼 쾌적하고</span>
            </div>
            <div class="">
              <span>행복한 여행경험을 제공합니다.</span>
            </div>
          </div>
        </div>
        <div class="video-wrap">
          <div class="video-inner">
            <div class="video-logo">
              <img src="img/logo.svg">
            </div>
            <video src="video/sky-3.mp4" muted autoplay playsinline loop></video>
          </div>
        </div>
      </div>
    </section>
    <section class="section6 ">
      <div class="inner">
        <div class="title">
          <div class="first">
            <div class="">
              <span>하늘의 다채로운 색으로</span>
            </div>
            <div class="">
              <span>여행의 설렘을 담다</span>
            </div>
          </div>
        </div>
        <div class="fly">
          <div class="fly-bg">
            <div class="fly-bar">
              <div class="fly-line-wrap"></div>
              <div class="fly-bar-inner">
                <img src="./img/icon/flight-w.svg">
              </div>
            </div>
            <span class="depth1">Dark Night Blue</span>
            <span class="depth2">Mid Night Blue</span>
            <span class="depth3">Clear Sky Blue</span>
            <span class="depth4">Sunset Pink</span>
            <span class="depth5">Cloud Silver</span>
            <!--<img src="./img/bg5.png" class="bg-wrap">-->
            <div class="stopPoint"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="section7">
      <div class="inner">
        <div class="">
          <div class="title-sub">

            <div class="first">
              <div class="">
                <span>브랜드 디자인 요소</span>
              </div>
            </div>

            <div class="second">
              <div class="">
                <span>우리는 모든 접점에 따라 브랜드 디자인 요소인</span>
              </div>
              <div class="">
                <span>브랜드 로고, 컬러, 지정 서체, 비주얼 모티프 등</span>
              </div>
              <div class="">
                <span>브랜드 아이덴티티를 녹여 일관된 브랜드 경험을</span>
              </div>
              <div class="">
                <span>전달하고 있습니다.</span>
              </div>
            </div>
          </div>
          <div class="slide-wrap">
            <div class="swiper-container type-normal">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <strong>Look & Feel</strong>
                  <img src="./img/slide/slide-1.png">
                </div>
                <div class="swiper-slide">
                  <strong>Look & Feel</strong>
                  <img src="./img/slide/slide-2.png">
                </div>
                <div class="swiper-slide">
                  <strong>Look & Feel</strong>
                  <img src="./img/slide/slide-3.png">
                </div>
                <div class="swiper-slide">
                  <strong>Look & Feel</strong>
                  <img src="./img/slide/slide-4.png">
                </div>
                <div class="swiper-slide">
                  <strong>Look & Feel</strong>
                  <img src="./img/slide/slide-5.png">
                </div>
                <div class="swiper-slide">
                  <strong>Look & Feel</strong>
                  <img src="./img/slide/slide-6.png">
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>

        <div class="link-wrap">
          <div class="title-sub">

            <div class="third">
              <div class="">
                <span>새로운 비행을 함께할</span>
              </div>
              <div class="">
                <span class="gray">파트너와 인재를 찾습니다.</span>
              </div>
            </div>

            <div class="fourth">
              <div class="">
                <span>성공적인 마케팅 협력과 꿈을 펼칠</span>
              </div>
              <div class="">
                <span>채용 기회를 지금 확인해보세요.</span>
              </div>
            </div>
          </div>


          <div class="link">
            <a href="https://form.jotform.com/243362062882457" target="_blank">
              <strong>Contact Us</strong>
              <span>마케팅/영업 관련 문의</span>
            </a>
            <a href="javascript:;">
              <strong>Recruit</strong>
              <span>채용관련 안내(추후 오픈 예정)</span>
            </a>
          </div>
        </div>
        <div class="footer">
          <div class="lang">
            <a href="">
              <img src="./img/ft-logo.svg">
            </a>
            <button type="button" onclick="toggleCommonPopup('popup-lang');" class="langChange">KR</button>
          </div>
          <div class="company">
            <p><strong>A WINIX COMPANY</strong></p>
            <p>Copyright© PARATA AIR All rights reserved.</p>
          </div>
        </div>
      </div>
    </section>

  </div>

  <div class="common-popup__bg"></div>

  <div class="common-popup popup-lang" id="popup-lang">
    <div class="common-popup__inner">
      <div class="common-popup__head">
        <div class="tab-bar"></div>
      </div>
      <div class="common-popup__body">
        <div class="text">
          <h4>변경하실 언어를 선택해 주세요</h4>
          <button type="button" class="common-popup-close__btn" onclick="toggleCommonPopup();">
            <img src="./img/icon/close.svg">
          </button>
        </div>
        <div class="list">
          <a href="/kr" class="is-active">한국어<span>KR</span></a>
          <a href="/en">영어<span>EN</span></a>
        </div>
      </div>
      <div class="common-popup__footer">

      </div>

    </div>
  </div>
</th:block>
</html>