/* 초기화 CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border:0;
}

html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

html:-webkit-scrollbar {
  display: none;
}


body {
	background:#161626;
	font-family: Pretendard, sans-serif;
  	overflow: hidden;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

#wrap {
	position: relative;
	overflow: hidden;
}

.section{
	position:relative;
}

.sky-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.loading{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:#161626;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#161626;
	z-index:9999;
}

.loading .bar-wrap{
	position: absolute;
	top:0;
	left:50%;
	transform:translateX(-50%);
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 4px;
}

.loading .bar{
	width:5px;
	height:0;
	background:#001EE6;
}

.loading .percent {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	font-size: 60px;
	font-weight: 800;
	color:#fff;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background:#00145A;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: height 0.5s ease-in-out, top 0.5s ease-in-out;
	z-index:999;
}


.header .navTxt{
	opacity:0;
	color: #BDC1C6;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%;

	position: absolute;
	top: 50%;
	right: 48px;
	transform: translateY(-50%);

}

.header.shrink {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 12px;
}

.header.is-opacity {
	background: rgba(22, 22, 38, 0.2);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}

.logo-effect {
	opacity:0;
	position: absolute;
	z-index:1000;
	top: calc(50% + 7px);
	left: calc(50% + 214px);
	transform: translate(-50%, -50%);
}
.logo-effect>div{
	position:relative
}
.logo-effect>div>.cover{
	width:100%;
	height:100%;
	left:20%;
	top:0;
	position:absolute;
	z-index:1;
	background:#fff
}
.header.shrink .logo {
	left: 0;
	transform: translateY(-50%) scale(0.8);
	font-size:0;
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform 0.5s ease-in-out, left 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.hamburger-btn {
	position: absolute;
	top: 50%;
	right: 12px;
	transform: translateY(-50%);
	opacity: 0;
	transition: transform 0.5s ease-in-out, right 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.header.shrink .hamburger-btn {
	opacity: 1;
	right: 12px;
	font-size:0;
}

.symbol-wrap{
	visibility:hidden;
	opacity:0;
	width:140px;
	height:140px;
	background:url("../img/symbol-1.svg") center no-repeat;
	background-size:100%;
	display:flex;
	justify-content:center;
	align-items: center;
	position:fixed;
	overflow:visible;
	z-index:999;
	top: 140%;
	left: 50%;
	transform: translate(-50%, -50%) scale(50);
	transform-origin: center;
}
.symbol-wrap>.box{
	width:130px;
	height:130px;
	position:fixed;
	background: transparent;
	box-shadow: 0 0 0 9999px #fff;
}

#section1 .section1{
	width:100%;
	position: fixed;
	padding-top:130px
}
#section1 .section1 p{
	color:#fff;
	text-align: center;
	margin-top:20px;
}
#section1 .section1 .t1{
	margin-top:20px;
	font-size: 50px;
	font-weight: 700;
	line-height: 110%;
}

#section3{
	background:#161626;
}

#section3 .fp-overflow{
	width:100%;
	height:100%;
}

#section3 .section3{
	width:100%;
	height:100%;
	position:relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#section3 .t1, #section3 .t2{
	color: #fff;
	text-align: center;
	font-size: 60px;
	font-weight: 700;
	height:70px;
	line-height:70px;
	letter-spacing: 1.8px;
	position:relative
}

#section3 .t2>div{
	display:flex;
	justify-content: center;
	position:absolute;
	width:100%;
	top:0;
	left:0;
}

#section3 .t2>div>span{
	opacity:0;
}

#section3 .video-wrap{
	width:calc(100% - 32px);
	margin:0 auto;
	overflow:hidden;
	position: relative;
	height:0;
}
#section3 .video-wrap video{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

#section3 .section3 .t3{
	position:absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width:100%;
	height:100%;
}

#section3 .section3 .t3>div{
	margin-left:16px;
	color: #ffffff;
}
#section3 .section3 .t3 p{
	opacity:0
}
#section3 .section3 .t3 .part1{
	margin-top:140px;
	font-size: 26px;
	font-weight: 700;
	line-height: 140%;
}
#section3 .section3 .t3 .part2{
	margin-bottom:50px;
	font-size: 16px;
	font-weight: 500;
	line-height: 160%;
}

#section4{
	background: url('/img/section3-bg.png') no-repeat center center / cover;
}
#section4 .section4{
	position:absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width:100%;
	height:100%;
}
#section4 .section4>div{
	margin-left:16px;
	color: #ffffff;
}
#section4 .section4 p{
	opacity:0;
}
#section4 .section4 .part1{
	margin-top:140px;
	font-size: 26px;
	font-weight: 700;
	line-height: 140%;
}
#section4 .section4 .part2{
	margin-bottom:50px;
	font-size: 16px;
	font-weight: 500;
	line-height: 160%;
}

#section5{
	background:#161626
}

#section5 .section5{
}

#section5 .section5 .part1{
	padding:160px 16px 0 16px;
	overflow:visible;
}
#section5 .section5 .part1 .t1, #section5 .section5 .part1 .t2{
	font-size: 40px;
	font-weight: 700;
	line-height: 140%;
}
#section5 .section5 .part1 .t1{
	color: #ffffff;
}
#section5 .section5 .part1 .t2{
	color: #BDC1C6;
}
#section5 .section5 .part1 .t3, #section5 .section5 .part1 .t4{
	color: #FFF;
	font-size: 28px;
	font-weight: 700;
	line-height: 140%;
}
#section5 .section5 .part1 .t3{
	margin-top:300px;
}
#section5 .section5 .part1 .t4{
	margin-bottom:28px;
}

#section5 .section5 .part1 .t5,
#section5 .section5 .part1 .t6,
#section5 .section5 .part1 .t7,
#section5 .section5 .part1 .t8 {
	color: #BDC1C6;
	font-size: 16px;
	font-weight: 500;
	line-height: 160%;
}

#section5 .section5 .part1 .t5{
	margin-top:80px;
}

#section5 .section5 .part1 .t8{
	margin:60px 0;
}

#section5 .section5 .part1 .img-bottom{
	margin-bottom:-80px;
}

#section5 .section5 .part2{
	background:#fff;
	padding:240px 16px 16px 16px;
}

#section5 .section5 .part2 .t1{
	color: #000000;
	font-size: 28px;
	font-weight: 700;
	line-height: 140%;
	margin-bottom:24px;
}

#section5 .section5 .part2 .t2, #section5 .section5 .part2 .t3{
	color: #757575;
	font-size: 16px;
	font-weight: 500;
	line-height: 160%;
}
#section5 .section5 .part2 .t2{
	margin-top:80px;
}
#section5 .section5 .part2 .t3{
	margin-bottom:50px;
}

#section5 .section5 .part3{
	display: flex;
	flex-direction: column;
	width:100%;
	gap: 140px;
	padding:200px 16px;
	background: linear-gradient(180deg, #00145A 0%, #161626 100%);
	background-position: bottom;
}


#section5 .section5 .part3 .text-wrap{
	display: flex;
	flex-direction: column;
	gap:32px;
	opacity: 0.1;
	transition: opacity 0.2s ease-in-out;
}
#section5 .section5 .part3 .text-wrap.on{
	opacity: 1;
}

#section5 .section5 .part3 .text-wrap.on .text-progress-bar{
	width:100%;
}


#section5 .section5 .part3 .text-progress{
	width:100%;
	height:1px;
	background:rgba(255,255,255,.1);
}

#section5 .section5 .part3 .text-progress-bar{
	width:0;
	height:1px;
	background: #ffffff;
	transition: width 0.5s ease-in-out;
}
#section5 .section5 .part3 .text-info{
	display: flex;
	flex-direction: column;
	gap:16px;
}

#section5 .section5 .part3 .text-info strong{
	font-size: 40px;
	font-weight: 600;
	line-height: 100%;
	color:#ffffff;
}

#section5 .section5 .part3 .text-info span{
	color: #E5E5E5;
	font-size: 16px;
	font-weight: 500;
	line-height: 160%;
}

#section5 .section5 .part4{
	padding:0 16px;
}

#section5 .section5 .part4 .t1{
	color: #ffffff;
	font-size: 40px;
	font-weight: 600;
	line-height: 120%;
	margin-bottom:24px;
}

#section5 .section5 .part4 .t2,
#section5 .section5 .part4 .t3,
#section5 .section5 .part4 .t4{
	color: #B6BEC9;
	font-size: 16px;
	font-weight: 500;
	line-height: 160%;
}
#section5 .section5 .part4 .video-wrap{
	width:calc(100%);
	height:500px;
	margin:0 auto;
	margin-bottom:20px;
	overflow:hidden;
	position: relative;
	display:flex;
	flex-direction: column;
}

#section5 .section5 .part4 .video-wrap .video-logo{
	position:absolute;
	text-align: center;
	opacity:0;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	transition: 2s ease 1s; /* 속성 생략 */
}

#section5 .section5 .part4 .video-wrap.on .video-logo{
	opacity:1
}

#section5 .section5 .part4 .video-wrap video{
	width: 100%;
	height: 200px;
	margin-top:auto;
	object-fit: cover;
	object-position: center;
	transition: height 2s ease;
}
#section5 .section5 .part4 .video-wrap.on video{
	height:450px !important;
}


#section5 .section5 .part5{
}

#section5 .section5 .part5 .inner{
	background-size:cover;
	background:#161626;

}

#section5 .section5 .part5 .inner {
	padding:120px 0 0;
}

#section5 .section5 .part5 .title .first div{
	overflow:hidden;
}

#section5 .section5 .part5 .title .first div span{
	color: #FFF;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	display:block;
	padding:0 16px;
	transform:translateY(100%);
	transition: transform 0.5s ease-in-out;
}


#section5 .section5 .part5 .title .first .on span{
	transform: translateY(0);
}


#section5 .section5 .part5 .inner .fly{
	position:relative;
	padding:140px 0;
}

#section5 .section5 .part5 .inner .fly .fly-bg{
	display:flex;
	justify-content:center;
	background:url("../img/bg5.png") no-repeat;
	height:1500px;
	background-size:100% 100%;
}

#section5 .section5 .part5 .inner .fly .fly-bar{
	background: rgba(255, 255, 255, 0.48);
	width:3px;
	height:100%;
	position:relative;
}

#section5 .section5 .part5 .inner .fly .fly-bar-inner{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index:100;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%)
}

#section5 .section5 .part5 .inner .fly .fly-bar-inner.on{
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

#section5 .section5 .part5 .inner .fly .fly-bar-inner.stop{
	position:absolute;
	bottom:-2px;
	left:50%;
	top:auto;
	transform: translateX(-50%);
}

#section5 .section5 .part5 .inner .fly .fly-move-wrap{
	position:absolute;
	top:0;
	left:50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	height:100%;
}

#section5 .section5 .part5 .inner .fly .fly-line-wrap{
	display:none;
	background: linear-gradient(0deg, #FFF 14.5%, rgba(255, 255, 255, 0.00) 48.5%);
	background-size: cover;
	z-index:100;
	width: 3px;
	height:0;
	position:fixed;
	bottom:50%;
}
#section5 .section5 .part5 .inner .fly .fly-line-wrap.on{
	display:block;
}

#section5 .section5 .part5 .inner .fly .fly-line-wrap.stop{
	display:block;
	position:relative;
	height:1500px !important;
	bottom: auto;
}

#section5 .section5 .part5 .inner .fly .fly-move-wrap img{
	margin-top:-5px;
}

#section5 .section5 .part5 .inner .fly .bg-wrap{
	width:100%;
}

#section5 .section5 .part5 .inner .fly span{
	position:absolute;
	color:#fff;
	opacity:0.2;
	transition:all 0.5s ease-in-out;
}

#section5 .section5 .part5 .inner .fly span.depth1{
	top: 15%;
	transform: translateY(-50%);
	left: calc(50% + 32px);
}

#section5 .section5 .part5 .inner .fly span.depth2{
	top: 30%;
	transform: translateY(-50%);
	right: calc(50% + 32px);

}

#section5 .section5 .part5 .inner .fly span.depth3{
	top: 45%;
	transform: translateY(-50%);
	left: calc(50% + 32px);
}

#section5 .section5 .part5 .inner .fly span.depth4{
	top: 60%;
	transform: translateY(-50%);
	right: calc(50% + 32px);
}

#section5 .section5 .part5 .inner .fly span.depth5{
	top: 75%;
	transform: translateY(-50%);
	left: calc(50% + 32px);
}

#section5 .section5 .part6{
}

#section5 .section5 .part6 .inner{
	background:#161626;
	padding:50px 16px 24px;
}

#section5 .section5 .part6 .inner .title-sub{
	display:flex;
	gap:24px;
	flex-direction: column;
}


#section5 .section5 .part6 .inner .title-sub .first div,
#section5 .section5 .part6 .inner .title-sub .third div{
	overflow:hidden;
}

#section5 .section5 .part6 .inner .title-sub .first div span{
	display:block;
	color: #ffffff;
	font-size: 40px;
	font-weight: 600;
	line-height: 120%;
	transition: transform 0.5s ease-in-out;
}

#section5 .section5 .part6 .inner .title-sub .third div span{
	display:block;
	color: #ffffff;
	font-size: 32px;
	font-weight: 600;
	line-height: 120%;
	transition: transform 0.5s ease-in-out;
}

#section5 .section5 .part6 .inner .title-sub .first div span.gray,
#section5 .section5 .part6 .inner .title-sub .third div span.gray{
	color:#B6BEC9;
}



#section5 .section5 .part6 .inner .title-sub .second div,
#section5 .section5 .part6 .inner .title-sub .fourth div{
	overflow:hidden;
}

#section5 .section5 .part6 .inner .title-sub .second div span,
#section5 .section5 .part6 .inner .title-sub .fourth div span{
	display:block;
	color: #B6BEC9;
	font-size: 16px;
	font-weight: 500;
	line-height: 160%;
	transition: transform 0.5s ease-in-out;
}


#section5 .section5 .part6 .inner .title-sub .first .on span,
#section5 .section5 .part6 .inner .title-sub .second .on span,
#section5 .section5 .part6 .inner .title-sub .third .on span,
#section5 .section5 .part6 .inner .title-sub .fourth .on span{
	transform: translateY(0);
}


#section5 .section5 .part6 .inner .slide-wrap{
	position:relative;
	overflow:hidden;
	padding-bottom:50px;
	margin:150px 0 120px;
}

#section5 .section5 .part6 .inner .slide-wrap .swiper-slide{

}

#section5 .section5 .part6 .inner .slide-wrap .swiper-slide strong{
	color:#B6BEC9;
	font-family: Pretendard;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	margin-bottom:8px;
}

#section5 .section5 .part6 .inner .slide-wrap .swiper-slide img{
	width:100%;
}

#section5 .section5 .part6 .inner .slide-wrap .swiper-pagination .swiper-pagination-bullet{
	width:5px;
	height:5px;
	background:#343638;
	opacity: 1;
}

#section5 .section5 .part6 .inner .slide-wrap .swiper-pagination .swiper-pagination-bullet-active{
	background:#D1D5DB;
}

#section5 .section5 .part6 .inner .link-wrap{
	display:flex;
	gap:100px;
	flex-direction: column;
}

#section5 .section5 .part6 .inner .link{
	display:flex;
	gap:8px;
	flex-direction: column;
}

#section5 .section5 .part6 .inner .link a{
	padding:18px 20px;
	border-radius:4px;
	background:url("../img/icon/arrow.svg") #1D1D2D right 20px  top 18px no-repeat;
	color:#fff;
	display:flex;
	gap:32px;
	flex-direction: column;
}

#section5 .section5 .part6 .inner .link a strong{
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
}

#section5 .section5 .part6 .inner .link a span{
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
}


#section5 .section5 .part6 .inner .footer{
	margin-top:80px;
	display:flex;
	gap:44px;
	flex-direction: column;
}


#section5 .section5 .part6 .inner .footer .lang{
	display:flex;
	align-items: center;
	justify-content: space-between;
}

#section5 .section5 .part6 .inner .footer .langChange{
	color: #F0F3F5;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	line-height: 110%;
	padding-right:22px;
	background:url("../img/icon/lang-arrow.svg") right no-repeat;
}

#section5 .section5 .part6 .inner .footer .company{
	display:flex;
	gap:4px;
	flex-direction: column;
}

#section5 .section5 .part6 .inner .footer .company p{
	color: #5F6A79;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
}



.common-popup__bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 9999;
}

.common-popup {
	position: fixed;
	bottom: -100%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	transition: bottom 0.5s ease;
	box-sizing: border-box;
	z-index: 99999;
	border-radius: 24px 24px 0px 0px;
	overflow: hidden;
}

.common-popup__inner {
	display: grid;
	grid-template-areas:
    "popup-head"
    "popup-body"
    "popup-foot";
	grid-template-rows: 20px 1fr 24px;
	min-height: 210px;
	background: #161626;
	border-radius: 8px;
	overflow: hidden;
}

.common-popup__head {
	position: relative;
	grid-area: popup-head;
	display:flex;
	align-items: center;
	justify-content: center;
	padding:10px;
}

.common-popup__head .tab-bar{
	width:80px;
	height:4px;
	background:#2D2D3C;
	border-radius:50px;
}

.common-popup-close__btn {
	display: inline-block;
	width: 44px;
	height: 44px;
	padding: 10px;
	position: absolute;
	top: 8px;
	right: 0;
}

.common-popup__head h4 {
	text-align: center;
	color: #ffffff;
	line-height: 44px;
}

.common-popup__body {
	grid-area: popup-body;
}

.common-popup__body .text{
	padding:16px 56px 28px 16px;
	position: relative;
}

.common-popup__body .text h4{
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	line-height: 130%;
}

.common-popup__body .text button{
	position: absolute;
	top:16px;
	right:16px;
}


.common-popup__body .list a{
	display:inline-flex;
	width:100%;
	padding:17px 16px;
	color:#B6BEC9;
	font-size: 16px;
	font-weight: 700;
	line-height: 160%;
	gap:8px;
	align-items: center;
}

.common-popup__body .list a span{
	font-size: 14px;
	font-weight: 500;
}

.common-popup__body .list a:hover, .common-popup__body .list a.is-active{
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 160%;
	background:url("../img/icon/check.svg") #2D2D3C center right 16px no-repeat;
}


.common-popup__foot {
	width: 100%;
	height:24px;
	box-sizing: border-box;
	background: #161626;
	grid-area: popup-foot;
}

.common-popup.popup-on{
	bottom: 0%;
}




.example h1 {
	font-size: 6em;
	font-size: calc(2em + 2vw);
	margin: 0;
	padding: 1em 0 0 0;
}

.example .section {
	color: #fff;
	text-align: center;
}


 */
/* Elements */
.example .box {
	height: 60vh;
	padding: 30px 0 0 0;
	text-align: center;
	background: #4e4e4e;
	width: 80%;
	margin: 30px auto;
	border-radius: 12px;
	font-size: 1.4em;
}

/* Backgrounds colors for sections */
.example .fp-section:nth-child(1) {
	background-image: linear-gradient(128deg, #40afff, #3f61ff);
}

.example .fp-section:nth-child(2) {
	background-image: linear-gradient(128deg, #ff9a3f, #ff4b40);
}

.example .fp-section:nth-child(3) {
	background-image: linear-gradient(128deg, #fc40ff, #543fff);
}
