<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Fly New! 파라타항공은 진심을 담아 안전은 물론, 고객 중심의 합리적 프리미엄 서비스를 준비 중입니다. 앞으로 파라타항공과 함께할 새로운 여정을 기대해 주세요!">

  <meta property="og:title" content="파라타항공 (PARATA AIR)">
  <meta property="og:description" content="Fly New! 파라타항공은 진심을 담아 안전은 물론, 고객 중심의 합리적 프리미엄 서비스를 준비 중입니다. 앞으로 파라타항공과 함께할 새로운 여정을 기대해 주세요!">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://parataair.com">

  <title>파라타항공 (PARATA AIR)</title>
  <link rel="icon" href="/img/icon/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="/css/common.css" rel="stylesheet">
  <link href="/css/font.css" rel="stylesheet">
</head>
<body>

<th:block layout:fragment="content" class="content"></th:block>

<script th:inline="javascript">
  const lang = /*[[${lang}]]*/ ""
</script>

<th:block layout:fragment="script"></th:block>

</body>
</html>