<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="cdnUrl='https://kr.object.ncloudstorage.com/winix-web/website'">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PARATA AIR (파라타 항공)</title>

  <link rel="icon" href="/img/icon/favicon.png">
  <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'>
  <link rel="stylesheet" href="css/style.css">
  <script src="/js/jquery-3.7.1.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

  <link rel="stylesheet" href="/css/animate.min.css">
  <script src="/js/wow.min.js"></script>

  <!--<script src="js/smoothwheel.js"></script>-->
  <script src="/js/index.js"></script>

</head>
<body>

<script th:inline="javascript">
  const lang = /*[[${lang}]]*/ ""
</script>
<th:block layout:fragment="content" class="content"></th:block>


<th:block layout:fragment="script"></th:block>

</body>
</html>